ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type="button"],
button:focus {
    outline: 0;
}

.app {
    width: 600px;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 100%;
    }

    &_list {
        border: 1px solid #dfe1e5;
        border-radius: 24px;
        padding: 16px;

        &_form {
            display: inline-flex;
            flex-flow: row nowrap;
            align-items: center;
            border-bottom: 1px solid #dfe1e5;
            padding-bottom: 8px;
            position: relative;
            width: 100%;

            &--input {
                position: relative;
                font-size: 18px;
                border: none;
                border-radius: 0;
                outline: 0;
                padding: 0 56px 0 0;
                width: 100%;
                margin: 0;
                appearance: none;
            }

            &--button {
                position: absolute;
                right: 0 !important;
                border: none;
                background-color: transparent;
                font-size: 42px;
                line-height: 32px;
                color: #9AA0A6;
                appearance: none;
                z-index: 999;
                margin: 0;
                flex: 0 1 auto;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &_item {
            display: flex;
            flex-flow: row nowrap;
            padding: 8px 15px;
            margin: 0 -15px;

            &:hover {
                background-color: #eee;
            }

            &--name {
                font-size: 18px;
                word-break: break-all;
                margin-right: auto;
            }

            &--remove {
                align-self: stretch;
                color: #757575;
                font: 27px/25px arial, sans-serif;
                padding: 10px 10px 0;
                margin: -8px 0;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &_randomgroup {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;

        &--button {
            font-size: 22px;
            width: 250px;
            border: 2px solid #007acc;
            border-radius: 50px;
            color: #007acc;
            background-color: white;
            padding: 20px 20px;
            margin-top: 32px;

            &:hover {
                background-color: rgba(0, 122, 204, .1);
            }

            &:active {
                transform: translateY(2px);
            }
        }

        &_result {
            margin-top: 32px;
            background-color: rgba(154, 160, 166, .1);
            border-radius: 16px;
            padding: 16px;
            width: 100%;

            &--name {
                font-size: 32px;
                text-align: center;
                font-weight: bold;
                word-break: break-all;
            }
        }
    }
}