ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input[type="button"],
input[type="submit"],
button:focus {
    outline: 0;
}

.app {
    width: 600px;
    margin: 0 auto;

    @media (max-width: 768px) {
        width: 100%;
    }

    &_header {
        margin: 50px 0 40px;

        &_images {
            display: flex;
            justify-content: center;
            margin-bottom: 32px;

            &--image {
                width: 100px;
                height: auto;
                margin: 0 8px;
            }
        }

        &_title {
            font-size: 26px;
            font-weight: bold;
            text-align: center;
        }

    }

    &_list {
        border: 1px solid #dfe1e5;
        border-radius: 24px;
        padding: 16px;

        &_form {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

            &--input {
                font-size: 18px;
                border: none;
                border-bottom: 1px solid #dfe1e5;
                outline: 0;
                padding-bottom: 8px;
                width: 100%;
            }

            &--button {
                border: none;
                background-color: transparent;
                font-size: 42px;
                line-height: 32px;
                font-weight: bold;
                color: #9AA0A6;
                padding-right: 0;
                margin-left: 16px;

                &:hover {
                    opacity: 0.7;
                }
            }
        }

        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 8px 0;

            &--name {
                font-size: 18px;
                width: 100%;
            }

            &--remove {
                align-self: stretch;
                color: #757575;
                font: 27px/25px arial, sans-serif;
                padding: 10px 10px 0;
                margin: -8px 0;
                cursor: pointer;

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    &_randomgroup {
        display: flex;
        align-items: center;
        flex-flow: column nowrap;

        &--button {
            font-size: 22px;
            width: 250px;
            border: 2px solid #007acc;
            border-radius: 50px;
            color: #007acc;
            background-color: white;
            padding: 20px 20px;
            margin-top: 32px;

            &:hover {
                background-color: rgba(0, 122, 204, .1);
            }

            &:active {
                transform: translateY(2px);
            }
        }

        &_result {
            margin-top: 32px;
            background-color: rgba(154, 160, 166, .1);
            border-radius: 16px;
            padding: 16px;
            width: 100%;

            &--name {
                font-size: 32px;
                text-align: center;
                font-weight: bold;
            }
        }

    }

    &_developer {
        display: flex;
        justify-content: flex-end;
        margin-top: 32px;

        &--item {
            display: inline;
            margin-left: 16px;
        }
    }
}